.card{
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.img{
    height: 400px;
    width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
.desc{
    font-size: 18px;
}
.content{
    margin: 10px auto;
    font-size: 20px;
    word-spacing: 10px;
    margin-top: 50px;
}
.title{
    font-size: 35px;
}
.date-section{
    display: flex;
    align-items: center;

}
.cal-img{
    height: 20px;
}
.date{
    font-size: 15px;
}
.auth-sec{
    background-color: #d1e6fa;
    padding: 8px;
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 20px;
}
.author-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.author-name{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
